@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-color-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
}

.overlay {
  transition: .5s ease;
}

.image-container:hover .overlay {
  opacity: 0.6;
}
