@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.tinted-image {
  width: 20em;
  height: 20em;
  
  background: 
  /* make both colors the same for a single color
     change one of the colors for a two-color effect*/ 
  linear-gradient(
    rgba(255, 0, 0, 0.45), 
    rgba(315, 212, 707, 0.45)
  ),
  url(.\images\image-equilibrium.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.custom:before {
  content: '';
}

.custom {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main-image:hover {
    outline: 100px solid rgba(255, 0, 0, 0.5) !important;
    outline-offset: -150px;
    /* overflow: hidden; */
    /* position: relative; */
    /* height: 200px; */
    /* width: 200px; */
}

header {
    height: 600px;
    width: 100vw;
    background: black;
    overflow: hidden;
}

.mainimage {
   object-fit: cover;
   opacity: 0.4;
}


.custom:hover {
  background-color: cyan;
  box-shadow: inset 0 8px 50px 0 cyan;
  bottom: 0;
  height: 100%;
}

.custom .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  opacity: 0;
  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.custom:hover .overlay {
  opacity: 1;
}

.custom .icon {
  color: #fff;
  border: solid 5px #fff;
  border-radius: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -2.5rem;
  top: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 4em;
  line-height: 0.8;
  transition: .5s ease;
}

.custom:hover .icon {
  top: 50%;
}

.test {
  position: relative;
  width: 20em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.test:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20em;
  height: 20em;
  background: rgba(250,140,50, 0.6);
}
.text {
  font-family: Arial;
  font-size: 2em;
  color: white;
  text-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.5);
  margin: 0;
  position: absolute;
}